@import url(../../global/color-classes.scss);

:host {
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  margin: 0.25rem;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  border-radius: 1000px;
  background-color: rgb(var(--color-200), 0.3);
  backdrop-filter: blur(15px);
  color: rgb(var(--color-700));
  // box-shadow: 0px 0px 0.25rem 0.05rem rgb(var(--color-black), 0.1), inset 0px 0px 0.375rem 0px rgb(var(--color-500), 0.2);
  box-shadow: 0 1px 3px 0 rgb(var(--color-black),0.1), 0 1px 2px -1px rgb(var(--color-black),0.1);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  -webkit-tap-highlight-color: transparent;
}

#icon {
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;

  ::slotted(*) {
    margin: 0.25rem 0.125rem;
    display: block;
  }
}

#text {
  padding: 0.25rem 0.3rem;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  align-self: center;

  ::slotted(*) {
    align-self: center;
  }
}

#remove-btn {
  padding: 0.25rem 0rem;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  align-self: center;
  cursor: pointer;
  transition: all 100ms ease-out;
  
  ion-icon {
    display: block;
  }

  &:hover {
    color: rgb(var(--color-800));
    filter: drop-shadow(0px 0px 2px rgb(var(--color-white), 0.5));
  }
}


