@import url(../../global/color-classes.scss);

:host {
  display: inline-block;
  border-radius: 0.375rem;
  box-sizing: border-box;
  pointer-events: none;
  width: fit-content;
  height: fit-content;

  font-family: var(--sans-font);
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding: 0.25rem 0.25rem;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-500));

  box-shadow: 0 1px 3px 0 rgb(var(--color-black),0.1), 0 1px 2px -1px rgb(var(--color-black),0.1);
}

:host(.effect-slow-glow) {
  animation-name: glow;
  animation-duration: 6s;
  animation-play-state: running;
  animation-iteration-count: infinite;  
}


:host(.effect-fast-glow) {
  animation-name: glow;
  animation-duration: 1.5s;
  animation-play-state: running;
  animation-iteration-count: infinite;  
}

@keyframes glow {
  0% {
    box-shadow: 0px 1px 5px rgb(var(--color-black), 0.1);
    background-color: rgb(var(--color-500));
  }

  40% {
    box-shadow: 0px 0px 8px -1px rgb(var(--color-400));
    text-shadow: 0px 0px 4px rgb(var(--color-800), 0.5);
    background-color: rgb(var(--color-400));
  }

  80% {
    box-shadow: 0px 1px 5px rgb(var(--color-black), 0.1);
    background-color: rgb(var(--color-500));
  }
}