@import url(../../global/variables.scss);

:host {
  display: block;
}

button {
  font-weight: 600;
  letter-spacing: 0.025rem;
  border-radius: 0.375rem;
  transition: all 200ms ease-out;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
}

.look-solid {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-500));
  border: none;
  box-shadow: 0px 4px 6px -1px rgb(var(--color-black), 0.1), 0px 1px 4px -2px rgb(var(--color-black), 0.1);
}

.look-solid:hover {
  background-color: rgb(var(--color-400));
  box-shadow: 0px 6px 15px -3px rgb(var(--color-black), 0.1), 0px 4px 6px -4px rgb(var(--color-black), 0.1);
}

.look-solid:active {
  background-color: rgb(var(--color-600));
  box-shadow: 0px 1px 3px 0 rgb(var(--color-black), 0.15);
}

.look-solid.disabled {
  color: rgb(var(--color-gray-500));
  background-color: rgb(var(--color-gray-300),0.5);
  box-shadow: unset;
}

.look-glass {
  color: rgb(var(--color-gray-700),0.9);
  background-color: rgb(var(--color-500),0.2);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgb(250, 250, 250, 0.2);
  border-left: 1px solid rgb(200, 200, 200, 0.1);
  border-right: 1px solid rgb(200, 200, 200, 0.1);
  border-bottom: 1px solid rgb(200, 200, 200, 0.15);
  box-shadow: 0px 1px 3px -1px rgb(var(--color-black), 0.1);
}

.look-glass:hover {
  background-color: rgb(var(--color-400),0.3);
  box-shadow: 0px 1px 2px -1px rgb(var(--color-black), 0.1);
}

.look-glass:active {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-600), 0.8);
  box-shadow: 0px 0px 2px 0px rgb(var(--color-black), 0.2);
}

.look-glass.disabled {
  color: rgb(var(--color-gray-600), 0.6);
  background-color: rgb(var(--color-gray-500),0.2);
  box-shadow: unset;
}

.size-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.size-normal {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.size-large {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}