@import url(../../global/color-classes.scss);

:host {
  display: flex;
  border-radius: 0.5rem;
  transition: all 150ms ease-out;
  box-sizing: border-box;
  font-family: var(--sans-font);
  width: fit-content;
  cursor: pointer;
  user-select: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

:host(.disabled) {
  pointer-events: none;
}

:host(:hover) {
  transition: all 400ms ease-out;
}

:host(:active) {
  transition: all 150ms ease-out;
}

:host(.look-solid) {
  font-weight: 500;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-500));
  border: none;
  box-shadow: 0px 4px 6px -1px rgb(var(--color-black), 0.1), 0px 1px 4px -2px rgb(var(--color-black), 0.1);
}

:host(.look-solid:hover) {
  box-shadow: 0px 6px 15px -3px rgb(var(--color-black), 0.1), 0px 4px 6px -4px rgb(var(--color-black), 0.1);
  background-color: rgb(var(--color-400));
  text-shadow: 0px 0px 4px rgb(var(--color-800), 0.2);
}

:host(.look-solid:active) {
  background-color: rgb(var(--color-600));
  box-shadow: 0px 1px 2px 0px rgb(var(--color-black), 0.2), 0px 0px 10px 0px rgb(var(--color-500), 0.3), inset 0px 1px 2px -1px rgb(var(--color-black), 0.1);
}

:host(.look-solid.disabled) {
  color: rgb(var(--color-gray-500));
  background-color: rgb(var(--color-gray-300),0.5);
  box-shadow: unset;
}

:host(.look-glass) {
  font-weight: 500;
  color: rgb(var(--color-600));
  background-color: rgb(var(--color-200), 0.3);
  backdrop-filter: blur(20px);
  border: none;
  box-shadow: inset 0 1px 4px -1px rgb(var(--color-black), 0.1);
}

:host(.look-glass:hover) {
  background-color: rgb(var(--color-100), 0.4);
  color: rgb(var(--color-500));
  box-shadow: inset 0 1px 3px -1px rgb(var(--color-black), 0.15);
}

:host(.look-glass:active) {
  color: rgb(var(--color-700));
  background-color: rgb(var(--color-400), 0.4);
  box-shadow: inset 0 1px 4px -1px rgb(var(--color-black), 0.3);
}

:host(.look-glass.disabled) {
  color: rgb(var(--color-gray-400));
  background-color: rgb(var(--color-gray-300), 0.15);
  box-shadow: unset;
}

:host(.look-clear) {
  font-weight: 500;
  color: rgb(var(--color-500));
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: all 100ms ease-out;
}

:host(.look-clear:hover) {
  box-shadow: none;
  color: rgb(var(--color-400));
  // text-shadow: 0px 0px 1px rgb(var(--color-800), 0.2);
}

:host(.look-clear:active) {
  color: rgb(var(--color-600));
  box-shadow: none;
}

:host(.look-clear.disabled) {
  color: rgb(var(--color-gray-300));
}

:host(.size-small) {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

:host(.size-normal) {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

:host(.size-large) {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

span {
  margin: 0px;
  padding: 0px;
  align-self: center;
}

::slotted(*) {
  display: block;
  margin: 0rem 0.3rem;
}

::slotted(*[slot="start"]) {
  margin: 0rem 0.3rem 0rem 0rem;
}

::slotted(*[slot="end"]) {
  margin: 0rem 0rem 0rem 0.3rem;
}